<%= provide(:title, 'Visits by Browser/Device') %>
<h1>Visits by Browser/Device</h1>

<div class="button-nav">
	<%= link_to "Back to dashboard home", dashboard_trended_metrics_path, class: "btn btn-large btn-primary" %>
</div>

<%  date = nil
    @dashboard_browsers.each do |db|
      if date != db.start_date
        if !date.nil?
          table_hdr = "30 Days Prior" %>
    </table>
</div>
<%      else
          table_hdr = "Last 30 Days"
        end
        date = db.start_date %>
<div style="width: 50%; float: left;">
	<h3><%= table_hdr %> (<%= date.strftime("%-m/%-d/%Y") %> - <%= (db.start_date + 29).strftime("%-m/%-d/%Y") %>)</h3>
	<table class="data" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<th>Browser/Device</th>
			<th>Visits</th>
		</tr>
<%    end %>
		<tr>
			<td><%= db.name %></td>
			<td><%= db.visits %></td>
		</tr>
<%  end %>
	</table>
</div>

<div class="button-nav">
	<%= link_to "Back to dashboard home", dashboard_trended_metrics_path, class: "btn btn-large btn-primary" %>
</div>