<div class="row">
	<div class="span6 offset3">
		<%= form_for(@cloud_match) do |f| %>
			<%= render 'shared/error_messages', obj:@cloud_match %>

			<div class="field">
				<%= f.label :cloud_id %>
			    <%= f.select :cloud_id, options_from_collection_for_select(Cloud.find(:all, order:"name"), "id", "name"), prompt:"Please choose one" %>
			</div>
			<div class="field">
				<%= f.label 'Match list (put each on a new line)' %>
				<%= f.text_area :match_list %>
			</div>
			
			<div class="actions">
				<%= f.submit lbl, class:'btn btn-large btn-primary' %>
			</div>
		<% end %>
	</div>
</div>