<%= provide(:title, 'Form Views') %>
<h1>Form Views</h1>

<div class="button-nav">
	<%= link_to "Back to dashboard home", dashboard_trended_metrics_path, class: "btn btn-large btn-primary" %>
</div>

<%  date = nil
    @dashboard_offer_types.each do |dt|
      if date != dt.start_date
        if !date.nil?
          table_hdr = "30 Days Prior" %>
    </table>
</div>
<%      else
          table_hdr = "Last 30 Days"
        end
        date = dt.start_date %>
<div style="width: 50%; float: left;">
	<h3><%= table_hdr %> (<%= date.strftime("%-m/%-d/%Y") %> - <%= (dt.start_date + 29).strftime("%-m/%-d/%Y") %>)</h3>
	<table class="data" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<th>Offer Type</th>
			<th>Form Views</th>
		</tr>
<%    end %>
		<tr>
			<td><%= dt.name %></td>
			<td><%= dt.form_views %></td>
		</tr>
<%  end %>
	</table>
</div>

<div class="button-nav">
	<%= link_to "Back to dashboard home", dashboard_trended_metrics_path, class: "btn btn-large btn-primary" %>
</div>