<%= provide(:title, 'Dashboard') %>
<h1>Dashboard links</h1>

<ul>
	<li><%= link_to "Visits", visits_dashboard_trended_metrics_path %></li>
	<li><%= link_to "Form Completes", form_completes_dashboard_trended_metrics_path %></li>
	<li><%= link_to "Traffic Driver Types (Visits)", visits_dashboard_driver_types_path %></li>
	<li><%= link_to "Traffic Driver Types (Form Completes)", form_completes_dashboard_driver_types_path %></li>
	<li><%= link_to "Page Cloud (Page Views)", page_views_dashboard_clouds_path %></li>
	<li><%= link_to "Page Cloud (Form Completes)", form_completes_dashboard_clouds_path %></li>
	<li><%= link_to "Videos (Video Starts)", video_starts_dashboard_video_names_path %></li>
	<li><%= link_to "Videos (Video Completes)", video_completes_dashboard_video_names_path %></li>
	<li><%= link_to "Offer Type (Form Views)", form_views_dashboard_offer_types_path %></li>
	<li><%= link_to "Offer Type (Form Completes)", form_completes_dashboard_offer_types_path %></li>
	<li><%= link_to "Offer Type (Form Completion Rate)", form_complete_rate_dashboard_offer_types_path %></li>
</ul>