<div class="row">
	<div class="span6 offset3">
		<%= form_for(@site) do |f| %>
			<%= render 'shared/error_messages', obj:@site %>

			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div class="field">
				<%= f.label 'Suite list (put each on a new line)' %>
				<%= f.text_area :suite_list %>
			</div>
			<div class="actions">
				<%= f.submit lbl, class:'btn btn-large btn-primary' %>
			</div>
		<% end %>
	</div>
</div>
