<%= provide(:title, 'All sites') %>
<h1>All sites</h1>

<%= render 'button-nav' %>

<%= will_paginate %>

<table class="data" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<th>Site name</th>
		<th>Report suite list</th>
		<th>&nbsp;</th>
	</tr>
	<%= render @sites %>
</table>

<%= will_paginate %>

<%= render 'button-nav' %>