<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("/assets/logo.png"), root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<% if signed_in? %>
					<li><%= link_to "Run", run_classifications_path %></li>
					<li><%= link_to "Sites", sites_path %></li>
					<li><%= link_to "Clouds", clouds_path %></li>
					<li id="matches-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Matches <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Manage clouds", cloud_matches_path %></li>
							<li><%= link_to "Upload clouds", upload_cloud_matches_path %></li>
							<li><%= link_to "Manage brands", brand_matches_path %></li>
							<li><%= link_to "Upload brands", upload_brand_matches_path %></li>
						</ul>
					</li>
					<li id="users-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Manage users", users_path %></li>
							<li><%= link_to "Change info/password", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
						</ul>
					</li>
					<% else %>
					<li><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>